html {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}
body {
  margin: 0;
  border: solid;
  width: 100%; 
  /* if you want to add some gaps between the edge of the screen, use padding instead */
  padding-left: 2px;
}
#intro-section {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
  }
  .intro-container { 
      position: relative;
      text-align: left;
      color: black;
  }
.intro-container img {
  width: 100%;
}
.intro-container p {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.intro-container a {
  color: red;
}

  /* The navigation bar is this code  */
  .top-bar ul {
    list-style-type: none;
    position: fixed;
    z-index: 1;
    border-bottom: 2px solid black;
    background-color: white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 0;
    margin: 0%;
    min-width: 100%;
    transform: translateX(-5px)
  }
  .top-bar li {
      float: left;
      font-weight: bold;
      font-size: x-large;
  }
  .top-bar a {
    display: block;
    padding: 9px;
    background-color: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
  }
  .top-bar-right{
    float: right;
  }
  /* This is the container for the drawing at the top */
  #work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #workCard-wave {
    margin-top: 150px;
    height: 602px;
  }
  #workCard-eachday {
    margin-top: 150px;
    height: 602px;
  }
  #workCard-StyleForgeAI {
    margin-top: 150px;
    height: 602px;
    margin-bottom: 150px;
  }
  .workContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  /* This is the bar that indicates the beginning of work section */
  .workBar {
    display: flex;
    border: 2px solid black;
    padding: 9px;
    width: 100%;
    justify-content: space-between;
  }
  /* This is the card for presenting projects */
  .workCard-gradient{
    display: flex;
  }
  .workCard {
    display: flex;
    align-items: flex-end;
    border: 2px solid;
    background-color: white;
    height: 450px;
    width: 700px;
  }
  #work-Content a {
    text-decoration: none;
    color: black;
  }
  #work-Content a :hover {
    border-color: rgb(255, 96, 96);
  }
  /* This is the text content of the work card */
  #Wave.workCard-contents {
    width: 254px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    /* border-right: 2px solid black; */
    color: black;
    text-decoration: none;
    align-items: flex-start;
  }
  #Eachday.workCard-contents {
    width: 254px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    border-right: 2px solid black;
    color: black;
  }
  #StyleForgeAI.workCard-contents {
    width: 254px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    border-right: 2px solid black;
    color: black;
  }
  .workCard-duration {
    display: block;
    align-items: center;
    margin-bottom:10px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
  }
  .workCard-role {
    font-family: 'Ubuntu', sans-serif;
  }
  
  .workCard-title{
    display: block;
    align-items: center;
    margin-bottom:10px;
    margin-top: 10px;
  }
  .workCard-image{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
  }
  .workCard-image img{
    height: auto;
    width: 600px;
  }
  #skills-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .skillbar {
      border: 2px solid black;
      display: flex;
      width: 100%;
      padding: 9px;
      justify-content: space-between;
  }
  .skills-Methods {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
  }
  .skills-Tools {
    display: flex;
    margin-bottom: 70px;
  }
  .skills-Technical {
    display: flex;
    margin-bottom: 70px;
  }
  .skills-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .row p {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(209, 209, 209);
  }
  .skillContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  #about-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 500px;
  }
  .aboutbar {
    border: 2px solid black;
    display: flex;
    width: 100%;
    padding: 9px;
    justify-content: space-between;
  }
  .aboutContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  .aboutImages{
    display: flex;  
  }
  body {
    margin: 0
  }
  main {
    margin-top:65px;
  }
  h1 {
    display: block;
    font-size: 1.4rem;
    align-content: center;
  }
  h2 {
    display: block;
    font-size: 1rem;
    align-content: center;
  }
  h3 {
    display: block;
    font-size: 0.95rem;
    align-content: center;
  }
  h4 {
    display: block;
    font-size: 0.95rem;
    align-content: center;
  }