html {
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}
body {
  margin: 0;
  border: solid;
  width: 100%; 
  /* if you want to add some gaps between the edge of the screen, use padding instead */
  padding-left: 2px;
}
#intro-section {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
  }
  .intro-container { 
      position: relative;
      text-align: left;
      color: black;
  }
.intro-container img {
  width: 100%;
}
.intro-container p {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.intro-container a {
  color: red;
}

  /* The navigation bar is this code  */
  .top-bar ul {
    list-style-type: none;
    position: fixed;
    z-index: 1;
    border-bottom: 2px solid black;

    padding-top:10px;
    padding-bottom:10px;
    padding-left: 0;
    margin: 0%;
    min-width: 100%;
    transform: translateX(-5px)
  }
  .top-bar li {
      float: left;
      font-weight: bold;
      font-size: x-large;
  }
  .top-bar a {
    display: block;
    padding: 9px;
    background-color: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
  }
  .top-bar-right{
    float: right;
  }
  /* This is the container for the drawing at the top */
  #work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #workCard-wave {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #workCard-SNIIP {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #workCard-Adler {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  /* This is the bar that indicates the beginning of work section */
  .workBar {
    display: flex;
    border-bottom: 2px black solid;
    padding: 9px;
    width: 57%;
    justify-content: space-between;
  }
  /* This is the card for presenting projects */
  .workCard-gradient{
    display: flex;
  }
  .workCard {
    display: flex;
    align-items: flex-end;
    border: 2px solid;
    background-color: white;
    height: 450px;
    width: 700px;
  }
  #work-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #work-Content a {
    text-decoration: none;
    color: black;
  }
  #Wave.workCard-contents {
    width: 254px;
    height: 390px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    color: black;
    text-decoration: none;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(201, 170, 231, 0.837);
  }
  #SNIIP.workCard-contents {
    width: 254px;
    height: 390px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    justify-content: flex-end;
    background-color: rgba(66, 170, 231, 0.837);
  }
  #Adler.workCard-contents {
    width: 254px;
    height: 390px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    justify-content: flex-end;
    background-color: rgba(231, 170, 190, 0.837);
  }
  .workCard-duration {
    display: block;
    align-items: center;
    margin-bottom:10px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
  }
  .workCard-role {
    font-family: 'Ubuntu', sans-serif;
  }
  .workCard-title{
    display: block;
    align-items: center;
    margin-bottom:10px;
    margin-top: 10px;
    font-size: x-large;
  }
  .fullwrap {
    position: relative;
  }
  #workCard-wave .fullwrap:hover .description {
  visibility: visible; opacity: 1;
  background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(201, 66, 231, 0.837));
  }
  #workCard-SNIIP .fullwrap:hover .description {
    visibility: visible; opacity: 1;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(66, 66, 231, 0.837));
  }
  #workCard-Adler .fullwrap:hover .description {
    visibility: visible; opacity: 1;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(231, 66, 113, 0.837));
  }
  .workCard-image{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
  }
  .workCard-image img{
    height: 450px;
    width: 450px;
    /* transition: 0.3s; */
  }
  .description {
    position: absolute; top: 0; left: 0;
    padding: 10%;
    width: 360px; height: 360px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; justify-content: center; align-items: center;
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
  }
  .description p {
    font-family: 'Ubuntu', sans-serif;
    color:white;
  }
  /* .workCard-image :hover{
    opacity: 50%;
  } */
  #skills-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .skillbar {
      border-bottom: 2px solid black;
      display: flex;
      width: 57%;
      padding: 9px;
      justify-content: space-between;
  }
  .skills-Methods {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
  }
  .skills-Tools {
    display: flex;
    margin-bottom: 70px;
  }
  .skills-Technical {
    display: flex;
    margin-bottom: 70px;
  }
  .skills-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .row p {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(209, 209, 209);
  }
  .skillContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  #about-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 500px;
    align-items: center;
  }
  .aboutbar {
    border-bottom: 2px solid black;
    display: flex;
    width: 57%;
    padding: 9px;
    justify-content: space-between;
    align-items: center;
  }
  .aboutContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  
  body {
    margin: 0
  }
  main {
    margin-top:65px;
  }
  h1 {
    display: block;
    font-size: 1.4rem;
    align-content: center;
  }
  h2 {
    display: block;
    font-size: 1rem;
    align-content: center;
  }
  h3 {
    display: block;
    font-size: 0.95rem;
    align-content: center;
  }
  h4 {
    display: block;
    font-size: 0.95rem;
    align-content: center;
  }