html {
  overflow-y: scroll;
  overflow-x: hidden;
  animation-delay: 0ms;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track { 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}
body {
  margin: 0;
  width: 100%; 
  /* if you want to add some gaps between the edge of the screen, use padding instead */
  padding-left: 2px;
}
#intro-section {
    display: flex;
    width: 100%;
  }
  .intro-container { 
      position: relative;
      text-align: left;
      color: black;
  }
.intro-container img {
  width: 100%;
}
.intro-container h2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: large;
  font-family: noto serif;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.intro-container a {
  color: rgb(255, 117, 18);
}

  /* The navigation bar is this code  */
  .top-bar ul {
    list-style-type: none;
    position: fixed;
    z-index: 1;
    display: flex;
    border-bottom: 1px solid black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 0;
    margin: 0%;
    min-width: 100%;
    transform: translateX(-5px);
    background-color: white;
    align-items: center;
    justify-content: space-between;
  }
  .top-bar li {
    font-family: Noto serif;
      float: left;
      font-weight: 400;
      font-size: large;
      padding-left: 40px;
  }
  .top-bar a {
    display: block;
    padding: 9px;
    background-color: none;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
  }
  .top-bar-right{
    float: right;
    padding-right: 40px;
  }
  .myName a {
    font-size: x-large;
    font-weight: 400;
  }
  /* This is the container for the drawing at the top */
  #work-section {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #workCard-wave {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #workCard-SNIIP {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #workCard-Adler {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .workContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  /* This is the bar that indicates the beginning of work section */
  #workBar {
    display: flex;
    border-bottom: 1px black solid;
    padding: 9px;
    padding-bottom: 0px;
    width: 60%;
    justify-content: space-between;
  }
  #workBar h2 {
    font-family: noto serif;
  }
  /* This is the card for presenting projects */
  .workCard {
    display: flex;
    align-items: flex-end;
    border: 2px solid black;
    /* background-color: white; */
    height: 450px;
    width: 700px;
    border-top-right-radius: 26px;
  
    /* border-radius: 25px; */
    --c: rgba(38, 38, 38, 0.837); /* the color */
    --b: .1em;    /* border length*/
    --d: 20px;    /* the cube depth */
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
      conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgba(255, 255, 255, 0.1) 0 225deg,rgb(255 255 255 /1) 0) border-box,
      conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path: 
      polygon(
       var(--d) 0%, 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)),
       100% calc(100% - var(--d)),
       var(--d) calc(100% - var(--d))
      );
    transition: 0.5s;
  }
  .workCard:hover {
    transform: translate(0,0);
    clip-path: 
      polygon(
       0% var(--d), 
       var(--d) 0%, 
       100% 0%, 
       100% calc(100% - var(--d)), 
       calc(100% - var(--d)) 100%, 
       0% 100%
     );
  }
  #work-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }
  #work-Content a {
    text-decoration: none;
    color: black;
  }
  #Wave.workCard-contents {
    width: 254px;
    height: 390px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    color: black;
    text-decoration: none;
    align-items: flex-start;
    justify-content: flex-end;
    /* background-color: rgba(201, 170, 231, 0.837); */
    /* border-bottom-left-radius: 25px;
    border-top-left-radius: 25px; */
  }
  #SNIIP.workCard-contents {
    width: 254px;
    height: 390px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    color: black;
    text-decoration: none;
    align-items: flex-start;
    justify-content: flex-end;
    /* background-color: rgba(126, 185, 219, 0.837); */
    /* border-bottom-left-radius: 25px;
    border-top-left-radius: 25px; */
  }
  #Adler.workCard-contents {
    width: 254px;
    height: 390px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-right: 150px;
    color: black;
    text-decoration: none;
    align-items: flex-start;
    justify-content: flex-end;
    /* background-color: rgba(231, 170, 190, 0.837); */
    /* border-bottom-left-radius: 25px;
    border-top-left-radius: 25px; */
  }
  .workCard-duration {
    display: block;
    align-items: center;
    margin-bottom:10px;
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
  }
  .workCard-role {
    font-family: 'Ubuntu', sans-serif;
  }
  .workCard-title{
    display: block;
    align-items: center;
    margin-bottom:10px;
    margin-top: 10px;
    font-size: x-large;
    font-family: noto serif;
  }
  .fullwrap {
    position: relative;
  }
  #workCard-wave .workCard:hover .description {
    visibility: visible; opacity: 1;
    background-image: linear-gradient(to bottom right, rgba(255,225,225,0), rgba(191, 118, 218, 0.837));
  }
  #workCard-SNIIP .workCard:hover .description {
    visibility: visible; opacity: 1;
    background-image: linear-gradient(to bottom right, rgba(255,225,225,0), rgba(95, 166, 224, 0.837));
  }
  #workCard-Adler .workCard:hover .description {
    visibility: visible; opacity: 1;
    background-image: linear-gradient(to bottom right, rgba(255,225,225,0), rgba(228, 97, 134, 0.837));
  }
  .workCard-image{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
  }
  .workCard-image img{
    height: 450px;
    width: 450px;
    border-top-right-radius: 25px;
    /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; */
    transition: 0.3s;
  }
  .description {
    position: absolute; top: 0; left: 0;
    padding: 10%;
    width: 360px; height: 360px;
    background-color: rgb(255, 255, 255, 0);
    display: flex; justify-content: center; align-items: center;
    visibility: none; opacity: 0;
    transition: opacity 0.3s;
    border-top-right-radius: 23px;
    /* border-bottom-right-radius: 23px;
    border-top-right-radius: 23px; */
  }

  /* .workCard-image :hover{
    opacity: 50%;
  } */
  #skills-section {
    padding-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  #skillbar {
      border-bottom: 1px solid black;
      display: flex;
      width: 60%;
      padding: 9px;
      justify-content: space-between;
  }
  #skillbar h2 {
    font-family: noto serif;
  }
  #skills-Methods {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
  }
  #skills-Tools {
    display: flex;
    margin-bottom: 70px;
  }
  #skills-Technical {
    display: flex;
    margin-bottom: 70px;
  }
  .skills-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .row h4 {
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(230, 230, 230);
    font-weight: 400;
  }
  .skillContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  #project-section {
    padding-top: 60px;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 500px;
    align-items: center;
  }
  #projectBar {
    border-bottom: 1px solid black;
    display: flex;
    width: 60%;
    padding: 9px;
    justify-content: space-between;
    align-items: center;
  }
  #projectBar h2{
    font-family: noto serif;
  }
  .projectContainer {
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
  }
  .fade {
    opacity: 1;
  }
  h1 ,h2 {
    display: block;
    padding: 0.25em 0em 0em 0em;
    font-weight: 400;
    align-content: center;
    font-family: noto serif;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 26px;
    margin: none;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h3, h4, td, th {
    display: block;
    line-height: 150%;
    align-content: center;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
  }
  table, th, td {
    border:1px solid black;
  }


/* Style tags for all pages */
#Side-Nav {
  z-index: 3;
  position: fixed;
  transform: translateY(420px);
}
#Side-Nav .labels {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#intro-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-image img {
  margin-top: 160px;
  width: 1200px;
}
#tags {
  display: flex;
  margin-top: 40px;
}
#tags h4 {
  font-family: ubuntu, sans-serif;
  font-weight: 400;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(230, 230, 230);
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}
#summary {
  display: flex;
  margin-top: 40px;
  width: 60%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#summary img {
  width: 25%;
  height: 25%;
  padding-right:20px;
}
#summary h4 {
  font-family: ubuntu, sans-serif;
  text-align: left;
  padding-left: 15px;
  border-left: 3px solid rgb(188, 21, 188);
}
#methods {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.method-tags {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
}
.method-tags h4 {
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(230, 230, 230);
  margin: 10px;
  font-family: ubuntu, sans-serif;
  font-weight: 400;
}
#tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tool-tags {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: center;
} 
.tool-tags h4 {
  display: flex;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(230,230,230);
  margin: 10px;
  font-family: ubuntu, sans-serif;
  font-weight: 400;
}
#body-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#body-section h4 {
  font-family: ubuntu, sans-serif;
  color: rgb(70, 70, 70);
  margin-top: 50px;
  padding-left: 15px;
  border-left: 3px solid rgb(188, 21, 188);
}
#body-section h3 {
  align-self: flex-start;
}
#body-section h2 {
  font-weight: 700;
  color: black;
  align-self: flex-start;
  /* text-decoration: underline rgb(104, 104, 104) 3px; */
}
#body-section img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245,245,245);
}
.white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white
}
.orange {
  color: rgb(255, 117, 18);
  font-size: 22px;
}
.Body-Contents {
  width: 60%;
}
.diagramming {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.diagramming img {
  width: 60%;
  padding-right: 40px;
}
.diagramming table {
  border-collapse: collapse;
}
.diagramming th, td {
  border: 1px solid grey
  
}
.diagramming2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.diagramming2 img {
  width: 90%;
  padding-right: 40px;
}
.diagramming3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.diagramming3 img {
  width: 40%;
  padding-left: 50px;
  border-radius: 15px;
} 
.Spread {
  width: 100%;
  margin-top: 80px;
}

/* Style tags for Wave */

.FinalSolution {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(247, 247, 247); */
}
.FinalSolution img {
  width: 100%;
  margin-top: 50px;
}
.FinalSolution video {
  padding-left: 40px;
}
.Research {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 80px;
}
.TopQuestions {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TopQuestions img{
  width: 100%;
}
.ProblemNarrow {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProblemNarrow img {
  width: 100%
}
.insights {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insights img {
  width: 80%;
}
.HowCanWe {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HowCanWe img {
  width: 100%;
}
.IDEATION {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.IDEAITON h4 h2 h2 {
  display: flex; 
}
.IDEATION img {
  width: 100%;
} 
.Synthesizing {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Synthesizing img {
  width: 100%
}
.Wireframing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Wireframing img {
  width: 100%;
}
.DesignSystem {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DesignSystem img {
  width: 60%;
}
.Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Column h2 {
  text-decoration: none;
}
.BreakDown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Onboarding {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Onboarding img {
  width: 60%;
  padding-left: 40px;
}
.Connect {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Connect img {
  padding-left: 40px;
  width: 60%;
}
.FollowUp {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.FollowUp img {
  width: 60%;
  padding-left: 40px;
}
.LaunchProject {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.LaunchProject img{
  width: 60%;
  padding-left: 40px;
}
/* Style tags for SNIIP */
#Surveys {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#Surveys img {
  width:50%
}
.Architecture img{
  width: 100%;
}
.UserTest {
  width:100%
}